---
name: tests

on:
  push:
    branches-ignore:
      - 'whitesource-remediate/**'
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  tests:
    strategy:
      matrix:
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    env:
      PYTHON_VERSION: '3.9'
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Set up Poetry
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: '1.5.1'
      - name: Set up Protobuf
        uses: arduino/setup-protoc@v2
      - name: Run Tests with Coverage
        run: |
          poetry install
          poetry run coverage run --source=src -m pytest -v
          poetry run coverage xml
      - name: Upload Coverage Report
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.xml